body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .product {
    display: flex;
    justify-content: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 100%;
    height: 900px;
  }
  
  h2,
  h3,
  p {
    display: flex;
    justify-content: center;
  }